* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#app {
    background-color: #101010;
}

.glow {
    color: #111;
    background: white;
    box-shadow: 10px 15px 60px white;
    transition: 0.4s;
}

.glow:hover {
    color: #111;
    background: white;
    box-shadow: 0 0 100px #087cfc;
    transition: 0.1s;
}

.card-styles-default {
    height: 100%; 
    max-height: auto; 
    width: 100%;
    max-width: 100%;
    border: none; 
    background-color: #101010; 
    margin-bottom: 1rem;
}

.dev-logo {
    width: 2.8rem;
    height: 2.8rem;
    cursor: help;
}

.creative-logo {
    width: 1.8rem;
    height: 1.8rem;
    cursor: help;
}

.animated-gradient {
    animation: animateBg 14s linear infinite;
    background-image: linear-gradient(90deg,#71c66c,#ff8000,#db5779,#71c66c,#ff8000);
    background-size: 400% 100%;
  }
  @keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
  }
  
  .load {
    color: #111;
    background: white;;
    box-shadow: 0 0 10px grey;
    transition: 0.4s;
}

.load:hover {
    color: #111;
    background: white;
    font-size: 102%;
    box-shadow: 0 0 20px #087cfc;
    cursor:crosshair;
    transition: 0.1s;
}

.name:hover, .description:hover {
    cursor: default;
}